<h1 align="center"> About page Index testing articles</h1>
</br>
</br>

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">ABOUT US</h1>
    <h2 class="display-4" align="center">WELCOME TO OUR WEBSITE</h2>
    <p class="lead">At Website.com, we believe everyone deserves to have a website or online store. Innovation and simplicity makes us happy: our goal is to remove any technical or financial barriers that can prevent business owners from making their own website. We're excited to help you on your journey!</p>

    <p class="lead">

Website.com began in 2005. After years in the web hosting industry, we realized that it was near impossible for the average Jane or Joe to create their own website. Traditional web hosting services were simply too complicated, time consuming, and expensive to manage.

We created the Website.com Site Builder with the user's perspective in mind. We wanted to offer a platform that would require no coding skills or design experience. We keep it simple, so users can focus on creating an amazing website that reflects their brand. Best of all - it's free. You can get online, showcase your brand, or start selling products right away.


</p>



  </div>
</div>



<%= link_to 'HOME', root_path, class: "btn btn-primary btn-lg" %>