<h1> New Digital Transformation Trends in 2020:</h1>
 <!-- bootstrap jumbotron add in homepage -->

<div class="center jumbotron">
  <h1 class="display-4">ALPHA TECH BLOGS</h1>
  <%= link_to "SIGN UP NOW", "#", class: "btn btn-danger btn-lg btn-xlarge" %>
  <p class="lead">Sign in today to read our latest blogs.</p>
  <hr class="my-4">
  <p>“Three Moves for CIOs to Lower Business Costs With Cloud".</p>
  <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
</div>



   
<!-- |<%= link_to 'ABOUT', about_path %>  <%= link_to "SIGN UP NOW", articles_path %>-->