<div class="container">
	<footer class="footer">
		<small>
			Copyright &copy; <a href="https://www.udemy.com">ALPHA SOFTWARE Co. (SE)</a>
			By <a href="https://www.udemy.com">SOFTWARE BLOGS & SUPPORT</a>

		</small>

		<nav>
			<ul>
				<li>
					<%= link_to "CONTACT US", about_path  %>
				</li>
			</ul>
		</nav>
	</footer>
</div>